<div class="card">
  <div class="card-img-wrapper">
    <img src="images/greenfiled_house.jpg">
   
    <ul  class="list-inline text-center member-icons animate">
      <li class="list-inline-item">
        <button class="btn btn-primary" >E<i class="far fa-edit"></i></button>
      </li>
      <li class="list-inline-item">
        <button class="btn btn-primary">C<i class="far fa-address-book"></i></button>
      </li>
    </ul>

  </div>
  <div class="card-body p-1">
  

    {{property.Name}}
    <br/>

    {{property.Type}}
    <br/>

    {{property.Price}}
    <br/>
  
   

   
 
  </div>
</div>